.filter {
    &__button {
        margin-top: 16px;
        color: white;
        cursor: pointer;
        border: none;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 4px;
    }
}