@use './heroes/heroes';
@use './hero/hero';
@use './search/search';
@use './form/form';
@use './filters/filters';
@use './filter/filter';

main {
    margin: 50px auto 0px auto;
    display: grid;
    grid-template-columns: 560px 440px;
    gap: 40px;
    max-width: 1040px;
}